# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.Python

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Test reports
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/

# MyPy, Pyre, etc.
.mypy_cache/
.pyre/
.dmypy.json

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.cache
.noseids

# SQLite database
*.sqlite3
*.db

# Output files
output/
